@media screen and (max-width:700px){
    header .container-header {
        display: flex;
        flex-direction: column;
    }

    .movie {
        width: 100%;
    }

    .title-movie {
        margin-top: 120px;
    }

    .navegation-buttons {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}